<table>
	<tr>
    	<th>id</th>
    	<th>Notiz</th>
  	</tr>
  	<%= render partial: "note", collection: @notes %>		
</table>
<%= button_to "Neue Notiz", new_note_path, :class => "inbox-sf-add-btn tip", :method => :get %>