<h1>Neue Notiz anlegen</h1>

<%= form_for :note, url: notes_path do |f| %>
	<p>
   		<%= f.text_area :message %>
	</p>
   	<p>
    	<%= f.submit "Speichern"%>
    	<%= button_to "Zurück", notes_path, :class => "inbox-sf-add-btn tip", :method => :get %>
  	</p>
<% end %>