<tr>
	<td><%= link_to note.heading, note_path(note) %></td>
	<td>
	<%= if note.hasOwner?
	 	link_to note.author.name, user_path(note.author)
	 else 
	 	"Gast"
	  end %></td>
	<% if user_signed_in? %>
	<td><%= button_to "löschen", note_path(note),:class => "btn btn-default btn-sm", method: :delete, data: { confirm: 'wirklich löschen?' } %></td>
	<td><%= button_to "bearbeiten", edit_note_path(note),:class => "btn btn-default btn-sm", method: :get %></td>
	<% else %>
	<td>Bitte melde dich an um Posts bearbeiten oder löschen zu können</td>
	<% end %>
</tr>