<h2>Deine Suche gab Folgendes zurück<h2>

<ul>
	<% if @notes.blank? %>
		<%= "Leider wurde mit der Suchanfrage \"#{params[:search]}\" nichts gefunden" %>
	<%else%>
		<% @notes.each do |note| %>
  			<li>
  				<%= link_to note.heading, edit_note_path(note) %> von 
  				<%=link_to note.author.name, user_path(note.author) %>
  			</li>	
  		<% end %>
	<% end %>
</ul>
<p>
	<%= button_to "Zurück", notes_path, :class => "btn btn-default", :method => :get %>
</p>