<p>
  	<h2><%= @note.heading %></h2>
</p>
<p>
  	<%= @note.message %>
</p>
<p>
  	<%= link_to @note.author.name, user_path(@note.author) %>
</p>

<h3>Kommentare</h3>


<%= button_to "Zurück", notes_path, :class => "btn btn-default", :method => :get %>
