// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.seperator {
	height: 20px;
}

div.profile_buttons form {
	float: right;
	margin-left: 10px;
	margin-top: 40px;
}